<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simats.app">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:theme="@style/Theme.App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCh-KsettBHlYewFGRP-eZ8ATrkKnznfX0"/>

        <!-- Splash screen is launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <!-- Sign-up screen -->
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- book now screen -->
        <activity
            android:name=".BookNowActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".TruckSearchActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".ChennaiPickupTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".ChennaiTipperTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".ChennaiSmallTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".ChennaiBoxTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".ChennaiFlatbedTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".BengaluruPickupTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".BengaluruTipperTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".BengaluruSmallTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".BengaluruBoxTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".BengaluruFlatbedTrucksActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".BookingSummaryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".AdminDashboardActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".TruckListActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity
            android:name=".BookingHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".AvailableTrucksActivity"
                  android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".BookingSuccessActivity"
                  android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".ProfileActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".UserBookingHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".ContactUsActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".AboutUsActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".TrackingActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>



        <!-- Optional: Main/home screen -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>
